<div class="w-screen min-h-screen flex items-center justify-center p-4 md:p-10">
    <form 
        class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-4 md:p-8 flex flex-col w-full"
        [formGroup]="form" 
        (ngSubmit)="onSubmit()"
    >
        <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Sign in</h2>

        <div class="relative mb-4 space-y-2">
            <label for="email" class="text-md text-gray-600">Email</label>
            <input 
                id="email"
                type="email"
                placeholder="examle@gmail.io" 
                class="w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                formControlName="email">
            <form-errors 
                [errors]="email.errors" 
                *ngIf="email.touched">
            </form-errors>
        </div>

        <div class="relative mb-4 space-y-2">
            <label for="password" class="text-md text-gray-600">Password</label>
            <input 
                id="password"
                type="password"
                placeholder="password123" 
                class="w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                formControlName="password">
            <form-errors 
                [errors]="password.errors"
                *ngIf="password.touched"
            ></form-errors>    
        </div>

        <button
            type="submit"
            [ngClass]="{
                'opacity-50': !isValidForm,
                'hover:bg-green-700': isValidForm
            }"
            class="text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg"
            [disabled]="!isValidForm">
            {{ isLoading ? 'Loading...' : 'Submit' }}
        </button>

        <p class="text-md text-gray-500 mt-3">Already don't have an account? 
            <a routerLink="/signup" class="underline hover:text-blue-700">Sign up</a></p>
    </form>
</div>