<div class="flex flex-col justify-between border-r border-slate-300 border-solid bg-slate-50 h-full">
    <div class="overflow-hidden flex flex-col">
        <app-sidebar-profile></app-sidebar-profile>

        <div class="overflow-auto p-8">
            <div class="mb-4 transition hover:bg-white hover:shadow-lg group/item flex items-center rounded-lg px-4 py-3">
                <img 
                    src="assets/svg/tasks.svg"
                    class="w-6"
                >
                <h1 class="text-xl font-semibold ml-4">All Tasks</h1>
            </div> 
            
            <app-folder [title]="'title'"></app-folder>
            <app-folder [title]="'title'"></app-folder>
            <app-folder [title]="'title'"></app-folder>
            <app-folder [title]="'title'"></app-folder>
            <app-folder [title]="'title'"></app-folder>
            <app-folder [title]="'title'"></app-folder>
            <app-folder [title]="'title'"></app-folder>
            <app-folder [title]="'title'"></app-folder>
            <app-folder [title]="'title'"></app-folder>
            <app-folder [title]="'title'"></app-folder>
            <app-folder [title]="'title'"></app-folder>
            <app-folder [title]="'title'"></app-folder>
            <app-folder [title]="'title'"></app-folder>
            <app-folder [title]="'title'"></app-folder>
            <app-folder [title]="'title'"></app-folder>
            <app-folder [title]="'title'"></app-folder>
            <app-folder [title]="'title'"></app-folder>
        
        </div>
    </div>

    <app-add-folder></app-add-folder>
</div>