<div class="flex flex-col items-center justify-between w-screen h-screen">
    <div class="h-full flex items-center">
        <div class="flex flex-col items-center">
            <h1 class="text-5xl">Todo app</h1>
            <p class="mt-6 text-xl">Using nestjs, postgres, angular</p>
            <div class="flex w-full justify-evenly">
                <a routerLink="/signin" class="mt-6 text-xl hover:underline hover:text-blue-700">Sign in</a>
                <a routerLink="/signup" class="mt-6 text-xl hover:underline hover:text-blue-700">Sign up</a>
            </div>
        </div>
    </div>

    <h3 class="text-xl py-10">Created by Naym.inc</h3>
</div>