<div *ngIf="toastService.error$ | async as error"
    [ngClass]="{
        'bg-red-600': error.type === 'error',
        'bg-green-600': error.type === 'success',
        'bg-yellow-600': error.type === 'info'
    }"
    class="flex justify-center items-center text-white absolute bottom-0 p-4 w-full"
> 
    <div class="space-y-3">
        <h1>{{ error.title }}</h1>
        <h2>{{ error.message }}</h2>
    </div>

    <button class="absolute items-center right-5 text-white w-6 h-4
        after:content-[''] after:bg-white after:h-1 after:w-full after:block after:absolute after:right-0 after:top-2 after:rounded after:rotate-45
        before:content-[''] before:bg-white before:h-1 before:w-full before:block before:absolute before:right-0 before:bottom-1 before:rounded before:rotate-[-45deg]"
        (click)="toastService.clear()">
    </button>
</div>
