<div class="flex flex-col items-center justify-between w-screen h-screen py-10">
    <div class="flex flex-col items-center mt-60">
        <h1 class="text-5xl">Todo app</h1>
        <p class="mt-6 text-xl">Using nestjs, postgres, angular</p>
        <div class="flex w-full justify-evenly">
            <a routerLink="/signin" class="mt-6 text-xl hover:underline hover:text-blue-700">Sign in</a>
            <a routerLink="/signup" class="mt-6 text-xl hover:underline hover:text-blue-700">Sign up</a>
        </div>
    </div>

    <h3 class="text-xl">Created by Naym.inc</h3>
</div>